<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/meyer_reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        @RenderSection("CustomStyles")
    </head>
    <body>

        <div class="content">

            <div class="close">
                <a id="mainCloseLink" href="/index">
                    CLOSE
                    <span class="closeX">
                        &#215;
                    </span>
                </a>
            </div>

            @RenderBody()
        </div>

    </body>
</html>