<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>

        <div id="main">
        @RenderBody()
        </div>

    </body>
</html>