<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/meyer_reset.css" />
        <link rel="stylesheet" type="text/css" href="~/css/main_v5.css" />
        <!--[if lt IE 9]>
        <style type="text/css">
            img.body_background {
                display: block;
            }
            div.content {
               background:transparent;
               filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000); 
               zoom: 1;
            }
        </style>
        <![endif]-->

        @RenderSection("CustomStyles")

        <!--[if lt IE 9]>
        <style type="text/css">
            body {
                background: none;
            }
        </style>

        <script type="text/javascript" src="/scripts/html5shiv.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37086321-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>
        <div id="topDivSpacer">&nbsp;</div>

        <div class="content">

            <div class="close">
                <a id="mainCloseLink" href="javascript: window.history.back();">
                    CLOSE
                    <span class="closeX">
                        &#215;
                    </span>
                </a>
            </div>

            @RenderBody()
        </div>

        <script type="text/javascript">
            $('img.body_background').css("width", $('body').css("width")).css("height", $('body').css("height"));
            $(window).resize(function () {
                $('img.body_background').css("width", $('body').css("width")).css("height", $('body').css("height"));
            });
        </script>

    </body>
</html>