@{
    var RequestApplicationPath = Request.ApplicationPath;
    var RequestAppRelativeCurrentExecutionFilePath = Request.AppRelativeCurrentExecutionFilePath;
    var RequestCurrentExecutionFilePath = Request.CurrentExecutionFilePath;
    var RequestFilePath = Request.FilePath;
    var RequestPhysicalApplicationPath = Request.PhysicalApplicationPath;
    var RequestPhysicalPath = Request.PhysicalPath;
    
    var pageName = Path.GetFileNameWithoutExtension(Request.PhysicalPath);
    var closeLinkClass = (@pageName == "index") ? "remove" : "";
}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/meyer_reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body class="@pageName">

        <!--
            Request.ApplicationPath = @RequestApplicationPath
            Request.AppRelativeCurrentExecutionFilePath = @RequestAppRelativeCurrentExecutionFilePath
            Request.CurrentExecutionFilePath = @RequestCurrentExecutionFilePath
            Request.FilePath = @RequestFilePath
            Request.PhysicalApplicationPath = @RequestPhysicalApplicationPath
            Request.PhysicalPath = @RequestPhysicalPath
        -->

        <div class="content">

            <div class="close">
                <a href="/index" class="@closeLinkClass">
                    CLOSE
                    <span class="closeX">
                        &#215;
                    </span>
                </a>
            </div>

            @RenderBody()
        </div>

    </body>
</html>