<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/meyer_reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/main_v2.css" />
        @RenderSection("CustomStyles")
    </head>
    <body>
        <div id="topDivSpacer">&nbsp;</div>

        <div class="content">

            <div class="close">
                <a id="mainCloseLink" href="javascript: window.history.back();">
                    CLOSE
                    <span class="closeX">
                        &#215;
                    </span>
                </a>
            </div>

            @RenderBody()
        </div>

    </body>
</html>