@font-face {
    font-family: PenultimateLight;
    src: url('../img/penultimatelightregular.ttf');
}
@font-face {
    font-family: PenultimateLight;
    font-style: italic;
    src: url('../img/penultimatelightitalregular.ttf');
}
h1, h2, p, span.left, span.right {
    font-family: PenultimateLight, Verdana, Helvetica, sans-serif;
    line-height: 125%;
}
h1 {
    font-size: 2em;
    margin: 0.25em 0em;
}
h2 {
    font-size: 1.5em;
    margin: 0.25em 0em;
    font-style: italic;
}
p {
    font-size: 1.5em;
    margin: 0.83em 0em;
}
.clearfix {
    display: block;
}
.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
    line-height: 0;
}
body {
    background-color: rgb(72, 0, 255);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: Verdana, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}
div.content {
    width: 70%;
    min-height: 400px;
    margin: 20px auto 0px auto;
    padding: 0px 25px;
    text-align: center;
    background: rgba(250, 250, 250, .4);
    border: 4px outset rgb(80, 80, 80);
    border-radius: 2px;
}
div.close {
    text-align: right;
    margin: 10px 0px;
    text-shadow: none;
}
div.close span.closeX {
    font-size: 24px;
    vertical-align: -2px;
}
div.close a {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div.close a:hover {
    cursor: pointer;
    color: rgb(220, 220, 220);
}
div.serviceGrid {
    text-align: left;
}
span.left {
    padding-left: 30%;
}
span.right {
    float: right;
    padding-right: 30%;
}
div.thirds {
    float: left;
    width: 33%;
    min-height: 420px;
    border: 1px solid red;
}