@{Layout = "/Shared/Layout.cshtml";}

<h1>
    Treat yourself or a group to a massage without having to go anywhere!!
</h1>

<p>
    We Knead Nashville is a convenient, worry free way to get a massage at your home or business.  We
    bring everything you Knead and can do it just about anywhere with our compact massage chairs.  Another
    benefit of our service is that you can split the hour with a small group of 2, 3, or 4 people to make
    pricing very affordable.  If you prefer a table massage, we do that too!  We also offer in call service
    conveniently located just across the river from downtown in East Nashville.
</p>