@{Layout = "/Shared/Layout.cshtml";}

<div id="index_top" class="textpanel">
    <div class="verticalAlign">
        <h1>
            Welcome to We Need Nashville
        </h1>
        <h2>
            Mobile massage and more
        </h2>
    </div>
</div>

<div id="index_middle">
    <div class="side">
        <a class="panel">
            <div>
                About
            </div>
            <img src="img/nashville_street.jpg" />
        </a>
        <a class="panel">
            <div>
                Therapists
            </div>
            <img src="img/miles_standing.jpg" />
        </a>
    </div>

    <div>
        <a class="panel">
            <div>
                Services
            </div>
            <img src="img/massage_stock_woman.jpg" />
        </a>
    </div>

    <div class="side">
        <a class="panel">
            <div>
                Info
            </div>
            <img src="img/Att_building_nashville.jpg" />
        </a>
        <a class="panel">
            <div>
                Gallery
            </div>
            <img src="img/massage_collage_small.jpg" />
        </a>
    </div>
</div>

<div id="index_bottom" class="textpanel">
    <div class="verticalAlign">
        <h2>
            Wherever you are we've got what you knead!
        </h2>
    </div>
</div>