@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("../img/bg_blue_hands.jpg");
        }
        div.close {
            display: none;
        }
    </style>
}

<h1>
    Welcome to We Need Nashville
</h1>
<h2>
    Mobile massage and more!
</h2>

<div class="left thirds">

</div>

<div class="middle thirds">

</div>

<div class="right thirds">

</div>

<div class="clearfix"></div>

<h2 class="footer">
    Wherever you are we've got what you knead!
</h2>