@{
   // Working with characters (strings)
   var helloworld = "Hello World!";

   // Working with objects
   var rightNow = DateTime.Now;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>
        @helloworld
    </h3>
    <div>
        The current datetime is: @rightNow
    </div>
</body>
</html>
