@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("/img/bg_info_light.jpg");
        }
    </style>
}

<h1>
    Hours and Information
</h1>

<p>
    We are available 7 days a week from 10am to 10pm
</p>

<p>
    We accept cash, Visa, MasterCard, American Express, and Discover
</p>

<p>
    Our in call office is located in East Nashville near 11th ST and Shelby Ave.
</p>

<p>
    For directions or to make an appointment please contact us by
 phone or email listed below and ask for Miles.
</p>

<p>
    WeKneadNashville@gmail.com&nbsp;&nbsp;615.582.4680
</p>

<img class="body_background" src="/img/bg_info_light.jpg" />