@{Layout = "/Shared/Layout.cshtml";}

<h1>
    Services and Pricing
</h1>

<div class="serviceGrid">

    <span class="left">
        1 HOUR CHAIR MASSAGE IN CALL:
    </span>
    <span class="right">
        $75
    </span>
    <br /><br />

    <span class="left">
        1 HOUR CHAIR MASSAGE OUT CALL:
    </span>
    <span class="right">
        $80
    </span>
    <br /><br />

    <span class="left">
        1 HOUR TABLE MASSAGE IN CALL:
    </span>
    <span class="right">
        $75
    </span>
    <br /><br />

    <span class="left">
        1 HOUR TABLE MASSAGE OUT CALL:
    </span>
    <span class="right">
        $80
    </span>
    <br /><br />

    <span class="left">
        1.5 HOUR TABLE MASSAGE IN OR OUT:
    </span>
    <span class="right">
        $100
    </span>

</div>