@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("../img/bg_info.jpg");
            color: rgb(0, 0, 0);
            text-shadow: 2px 2px 2px rgb(128, 128, 128);
        }
        div.close a {
            color: rgb(0, 0, 0);
        }
        div.close a:hover {
            color: rgb(128, 128, 128);
        }
        div.content {
            background: rgba(255, 255, 255, .7);
        }
    </style>
}

<h1>
    Services and Pricing
</h1>

<div class="serviceGrid">

    <span class="left">
        1 HOUR CHAIR MASSAGE IN CALL:
    </span>
    <span class="right">
        $75
    </span>
    <br /><br />

    <span class="left">
        1 HOUR CHAIR MASSAGE OUT CALL:
    </span>
    <span class="right">
        $80
    </span>
    <br /><br />

    <span class="left">
        1 HOUR TABLE MASSAGE IN CALL:
    </span>
    <span class="right">
        $75
    </span>
    <br /><br />

    <span class="left">
        1 HOUR TABLE MASSAGE OUT CALL:
    </span>
    <span class="right">
        $80
    </span>
    <br /><br />

    <span class="left">
        1.5 HOUR TABLE MASSAGE IN OR OUT:
    </span>
    <span class="right">
        $100
    </span>

</div>