@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("/img/bg_therapists.jpg");
        }
        body div.content p {
            text-align: justify;
        }
        body div.content p img {
            float: right;
            width: 200px;
            margin: 0px 0px 20px 20px;
        }
    </style>
}

<h1>
    Therapists
</h1>

<table class="therapists">
    <tr>
        <td>
            <a href="~/therapists/miles_branch.cshtml">
                <img src="~/img/miles_200.jpg" alt="Miles Branch" />
                <div class="therapistName">
                    JOSEPH MILES BRANCH, LMT
                </div>
            </a>
        </td>
        <td>
            <a>
                <img src="~/img/therapist_placeholder.png" />
            </a>
        </td>
        <td>
            <a>
                <img src="~/img/therapist_placeholder.png" />
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a>
                <img src="~/img/therapist_placeholder.png" />
            </a>
        </td>
        <td>
            <a>
                <img src="~/img/therapist_placeholder.png" />
            </a>
        </td>
        <td>
            <a>
                <img src="~/img/therapist_placeholder.png" />
            </a>
        </td>
    </tr>
</table>

<img class="body_background" src="/img/bg_therapists.jpg" />