@{Layout = "/Shared/Layout.cshtml";}

<h1>
    JOSEPH MILES BRANCH, LMT
</h1>

<p>
    <img src="img/miles_standing.jpg" alt="Miles Branch" />

    Miles got his start working under Thomas Scott, owner of Healthy Self Wellness Center
    in Washington, DC.  Healthy Self’s therapists have been employed by White House Staff
    as well as The Secret Service.  Miles received his training from National Massage Therapy
    Institute in Falls Church, VA in 2001.  He has his national certification from the National
    Certification Board for Therapeutic Massage and Body Work, and is licensed in Washington, DC
    and Tennessee.  He has maintained a private practice since 2001, and was also employed as
    head therapist at Radiance Medspa in Washington, DC where he developed their massage therapy
    treatments.  His client list includes politicians, White House staff, as well as several
    celebrities and Broadway performers. He is also the choice therapist for numerous other
    massage therapists themselves.  He specializes in deep tissue, Swedish, Chair Massage, and
    Hot Stone Therapy.  With over 10,000 hours of professional practice and more than a decade
    of experience, his skills and training are sure to exceed the expectations of the even most discerning client.
</p>