@{Layout = "/Shared/Layout.cshtml";}

@section CustomStyles {
    <style type="text/css">
        body {
            background-image: url("../img/bg_about.jpg");
        }
    </style>
}

<h1>
    Video Demonstration
</h1>

<p>
    Video goes here.
</p>